body
{
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container
{
    width: 90%;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    padding: 20px;
}


.item
{
    width: 80%;
    margin: 15px auto;
    overflow: auto;
    /* display: inline-block; */
}

.item .left 
{
    width: 48%;
    float: left;
    text-align: end;
    /* text-align: center; */
    /* background: #000; */
}
.item .right
{
    float: right;
    width: 48%;
    padding: 5px 10px ;
}

.item .select
{
    width: 50%;
    padding: 0px;
}

.item .select select
{ 
    float: left;
    /* margin: 10px; */
    padding: 5px;
    border: 1px solid #000;
}

